/Ljc.Learn.DataStruct/Ljc.Learn.DataStruct/obj
/Ljc.Learn.DataStruct/Ljc.Learn.DataStruct/bin
/Ljc.Learn.DataStruct.Console/Ljc.Learn.DataStruct.Console/obj
/Ljc.Learn.DataStruct.Console/Ljc.Learn.DataStruct.Console/bin
